.navbar {
  margin: 0;
  padding: 0;
  margin-top: 1%;
  position: sticky;
  /* background: red; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}
.navMob {
  display: none;
}
.logo {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  /* background: blueviolet; */
}
.navbar ul {
  margin: 0;
  padding: 0;
  /* background: sienna; */
  display: flex;
  width: 70%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
}
.navbar li {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  /* background: teal; */
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Zain", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: gray;
  cursor: pointer;
}
.navbar li:hover {
  color: rgb(199, 88, 88);
}

@media (min-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .off {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navMob {
    margin: 0;
    padding: 0;
    /* margin-top: 1%; */
    position: absolute;
    background: red;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    align-items: center;
  }
  .navClose {
    margin: 0;
    padding: 0;
    /* background: green; */
    width: 10%;
    height: fit-content;
    margin-left: auto;
    margin-right: 2%;
  }
  .navClose:hover > path {
    fill: red;
  }
  .logo {
    margin: 0;
    padding: 0;
    width: 30%;
    height: fit-content;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* background: blueviolet; */
  }
  .navMob ul {
    margin: 0;
    padding: 0;
    /* background: sienna; */
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    /* margin-top: auto;
    margin-bottom: auto; */
    justify-content: space-evenly;
  }
  .navMob li {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    /* background: teal; */
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Zain", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: #f5f5f5;
    cursor: pointer;
  }
  .navMob li:hover {
    color: rgb(199, 88, 88);
  }
}
@media (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
  .off {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navMob {
    margin: 0;
    padding: 0;
    /* margin-top: 1%; */
    position: absolute;
    background: red;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    align-items: center;
  }
  .navClose {
    margin: 0;
    padding: 0;
    /* background: green; */
    width: 8%;
    height: fit-content;
    margin-left: auto;
    margin-right: 2%;
  }
  .navClose:hover > path {
    fill: red;
  }
  .logo {
    margin: 0;
    padding: 0;
    width: 15%;
    height: fit-content;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* background: blueviolet; */
  }
  .navMob ul {
    margin: 0;
    padding: 0;
    /* background: sienna; */
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    /* margin-top: auto;
    margin-bottom: auto; */
    justify-content: space-evenly;
  }
  .navMob li {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    /* background: teal; */
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Zain", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #f5f5f5;
    cursor: pointer;
  }
  .navMob li:hover {
    color: rgb(199, 88, 88);
  }
}
/* @media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
} */
